.app {
    display: flex;
    margin-left: 112.5px;
    margin-right: 111px;
}

.heading {
    text-align: center;
    font-size: 1.3rem;
    margin-bottom: 2rem;
    margin-top: 1.5rem;
}

@media screen and (min-width: 1280px) {
    .container {
        max-width: 1280px !important;
        margin: 0 auto;
    }
}

@media screen and (max-width: 1279px) {
    .app {
        overflow: auto;
        margin-left: 0;
        margin-right: 0;
    }
}